@charset "utf-8";
main>section#instagram{
    margin-top: -2rem;
    grid-area: pcu;
    background-image: url("../img/instagram.png");
    background-size: 200%;
    background-repeat: no-repeat;
    
}

main>section#trabajamos{
    grid-area: pre;
    background-image: url("../img/trabajamos.png");
    background-size: 200%;
    background-repeat: no-repeat;
}

main>section#tecnologias{
    grid-area: pfu;
    background-image: url("../img/tecnologias.png");
    background-size: 200%;
    background-repeat: no-repeat;
}

main>section#prensa{
    background-image: url("../img/prensa.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}

main>section#legal{
    background-image: url("../img/legal.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}

main>section#contacto{
    background-image: url("../img/contacto.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
}

main{
    height: calc(100% + 5rem);
}

footer{
    display: none;
}