@charset "utf-8";
html{
  background-color: #E8E9F3;

}
h2{
  text-align: left;
  padding: 0.5vw 1vw;
  font-size: 3vw;
}

p{
  text-align: justify;
  padding: 0.5vw 1vw;
  font-size: 1.1vw;
}

footer{
  display: none;
}
